 header{
    background-color: black;

 }
 header ul{
    display: flex;
    list-style: none;
    margin-left: 650px;
    margin-top: -40px;
}
header ul li a{
text-decoration: none;
margin: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: antiquewhite;

}
header img{
    height: 55px;
    margin-left: 20px;
}
nav ol {
    display: flex;
    list-style: none;
    margin-top: 32px;
    margin-left: 166px;
}
nav ol li a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ol p{
    margin-top: -1px;
    font-size: larger;
}
ol :hover{
    text-decoration: underline;
    text-decoration-color: rgb(231, 5, 5);
}
ul :hover{
    text-decoration: underline;
    text-decoration-color: rgb(231, 5, 5);
}
section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: xx-large;
}
section p{
    font-family: monospace;
}
.cards{
    display: flex;
    width: 250px;
    
}
.card{
    border: 3px solid black;
     width: 250px;
     margin-left: 50px;
}
.card img{
    width: 200px;
}