 *{}
 header{
    background-color: rgb(14, 14, 14);
    height: 55px;
 }
 header ul{
    display: flex;
    list-style: none;
    margin-left: 650px;
    margin-top: -40px;
}
header ul li a{
text-decoration: none;
margin: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: antiquewhite;

}
header img{
    height: 55px;
    margin-left: 20px;
}
nav ol {
    display: flex;
    list-style: none;
    margin-top: 32px;
    margin-left: 166px;
}
nav ol li a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ol p{
    margin-top: -1px;
    font-size: larger;
}
ol :hover{
    text-decoration: underline;
    text-decoration-color: rgb(231, 5, 5);
}
ul :hover{
    text-decoration: underline;
    text-decoration-color: rgb(231, 5, 5);
}
section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
section p{
    color: rgb(0, 0, 0);
    font-family: monospace;
}
.cards{
    display: flex;
    width: 250px;
    
}
.card1,.card2 ,.card3, .card4{
    border: 3px solid rgb(0, 0, 0);
     width: 250px;
     margin-left: 50px;
     background-color: rgb(250, 236, 172);
}
.card1 img,.card2 img ,.card3 img, .card4 img{
    width: 200px;
    padding: 23px;
    clip-path: circle();
}
.card1 h2,.card2 h2 ,.card3 h2, .card4 h2{
    font-family: cursive; 
    text-align: center;
    color: rgb(209, 211, 103);
    background-color: rgb(227, 48, 48);
    height: 63px;
}
.card1 p1,.card2 P1 ,.card3 P1, .card4 P1{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgrey;
    margin-left: 10px;
}
.card1 p4,.card2 p4 ,.card3 p4, .card4 p4 { 
    text-decoration: underline;
}
.card1 p3,.card2 p3 ,.card3 p3, .card4 p3 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 77, 0);
    margin-left: 10px;
}
.card1 p2,.card2 p2 ,.card3 p2, .card4 p2 { 
    font-family: initial;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
